:root {
    --light-green: #78be45;
    /* var(--light-green, #78be45); */
    --dark-green: #1b6d1d;
    /* var(--dark-green, #1b6d1d); */
}

/* ===========================================================================*/
/* Remove Default Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Catamaran", sans-serif;
}

ul, ol {
    list-style: none;
}

/* =============================================================================
|  HEADINGS
============================================================================= */
h1 {
    color: var(--dark-green, #1b6d1d);
    font-weight: 700;
    line-height: 1.2;
    font-family: "Oswald", sans-serif;
}

/* === Form Headings === */
form h2.section {
    text-transform: uppercase;
    border-bottom: 1px solid;
}

form h3.subsect {
    color:var(--dark-green, #1b6d1d);
    font-weight: bold;
    border-bottom: 1px solid var(--dark-green, #1b6d1d);
}

/* =============================================================================
| ELEMENTS
============================================================================= */
.btn {
    padding: 0.5em;
}


/* =============================================================================
| FORM
============================================================================= */
/* === Structure === */
form {
    margin: 0 auto;
    width: 70vw;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

form section {
    margin-bottom: 3em;
}

/* === Input === */
input {
    padding: 0.5em;
}

input:focus {
    border-color: hotpink;
}

label {
    display: block;
}

legend {
    padding: 0 0.5em;
}



/* =============================================================================
| VALIDATION STYLES
============================================================================= */
:valid {
    color: var(--light-green, #78be45);
    /* border: 5px solid  var(--light-green, #78be45); */
}

/* input:invalid {
    color: crimson;
    border: 5px solid crimson;
} */

input.invalid {
    border: 5px solid crimson;
}