:root {
    --light-green: #78be45;
    /* var(--light-green, #78be45); */
    --dark-green: #1b6d1d;
    /* var(--dark-green, #1b6d1d); */
}

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Catamaran", sans-serif;
}

h1 {
    color: var(--dark-green, #1b6d1d);
    font-weight: 700;
    line-height: 1.2;
    font-family: "Oswald", sans-serif;
}

/* main {
    width: 90vw;
    margin: 0 auto;
} */

/* !===========================================================================*/
/* VALIDATION STYLES */
:valid {
    color: var(--light-green, #78be45);
    /* border: 5px solid  var(--light-green, #78be45); */
}

input:invalid {
    color: crimson;
    /* border: 5px solid crimson; */
}

input.invalid {
/* .invalid { */
    border: 5px solid crimson;
}
/* !===========================================================================*/

/* =============================================================================
| FORM
============================================================================= */
form {
    margin: 0 auto;
    width: 70vw;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

form section {
    margin-bottom: 3em;

}

/* TITLES */
form h3.subsect {
    color:var(--dark-green, #1b6d1d);
    font-weight: bold;
    border-bottom: 1px solid var(--dark-green, #1b6d1d);
}

form h2.section {
    text-transform: uppercase;
    border-bottom: 1px solid;
}

input {
    padding: 0.5em;
}


ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


ol.main-form > li + li {
    margin-top: 0.5em;
}

label {
    display: block;
}

input:focus {
    border-color: hotpink;
}

form button {
    /* margin-left: 130px; same as label width */
    margin-top: 1em;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
    
}

legend {
    padding: 0 0.5em;
}

fieldset li {
    display: inline-block;
}

fieldset label {
    display: inline-block;
}

fieldset li + li {
    margin-left: 1em;
}